<div class="container"> 
  <div class="card shadow mb-4">                    
    <div class="card-body">  
     <table class="table table-striped"> 
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Pointure</th>  <th>Couleur</th> <th> Lieu de creation</th> </tr> 
              <tbody *ngFor="let chaussure of chaussures"> 
                       <tr > 
                          <td>{{chaussure.idChaussure}}</td> 
                          <td>{{chaussure.nomChaussure}}</td> 
                          <td>{{chaussure.prixChaussure}}</td> 
                          <td>{{chaussure.pointureChaussure}}</td> 
                          <td>{{chaussure.couleurChaussure}} </td>
                          <td>{{chaussure.lieuC.pays}}</td>
                          <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerChaussure(chaussure)">Supprimer</a></td> 
                          <td><a *ngIf="authService.isAdmin()"  class="btn btn-success" [routerLink]="['/updateChaussure',chaussure.idChaussure]">Modifier</a></td>
                        </tr>    
                                                         
               </tbody> 
    </table> 
    </div> 
  </div> 
</div>  
