<div class="container"> 
    <div> 
      <h2>Modifier un Chaussure :</h2>              
    </div> 
         <form >          
             <div class="col-sm-2 col-md-2 col-lg-2"> 
               <label >ID  Chaussure</label> 
               <input readonly  type="text"  [(ngModel)]="currentChaussure.idChaussure" 
 
                   name="idChaussure" class="form-control"> 
              </div> 
          
             <div class="col-sm-4 col-md-4 col-lg-4" > 
               <label >Nom Chaussure</label> 
               <input  type="text"[(ngModel)]= "currentChaussure.nomChaussure"   
                   name="nomChaussure" class="form-control"> 
             </div> 

             <div class="col-sm-2 col-md-2 col-lg-2"> 
               <label >Prix Chaussure</label> 
           <input type="number"   [(ngModel)]= "currentChaussure.prixChaussure" 
 
                   name="prixChaussure" class="form-control"> 
             </div> 

            <div class="col-sm-4 col-md-4 col-lg-4">
                <label  for="pointureChaussure" >Pointure</label> 
                <select id="pointureChaussure"  [(ngModel)]= "currentChaussure.pointureChaussure"  
                    name="pointureChaussure" class="form-control">
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                </select>
            </div> 

            <div class="col-sm-4 col-md-4 col-lg-4"> 
                <label for="couleurChaussure" >Couleur</label> 
                <select id="couleurChaussure"  [(ngModel)]= "currentChaussure.couleurChaussure"  
                    name="couleurChaussure" class="form-control">
                    <option value="noir">  Noir</option>
                    <option value="blanc">Blanc</option>
                    <option value="rose">Rose</option>
                    <option value="rouge">Rouge</option>
                    <option value="vert">Vert</option>
                    <option value="bleu">Bleu</option>
                </select>
            </div> 

            <div class="col-sm-4 col-md-4 col-lg-4">
                <label  for="lieu" >Lieu de Creation</label> 
                <select class="form-control form-control-lg" id="codeBar" name="codeBar"
                [(ngModel)]="upcodebar">
                <option *ngFor="let lieu of lieu" [value]="lieu.codeBar" >
                {{lieu.pays}}
                </option>
                </select>
            </div>
                          
            <div class="mt-2"> 
           <button type="submit"  (click)="updateChaussure()" class="btn btn-success">Modifer</button> 
                          </div>   
                     </form> 
           </div>  